/* John Obuch, jo559@drexel.edu
CS530: 14382376, Assignment 3 */

body {
    font-family: "Avenir";
    font-size: 1rem;
    background: #eee;
}

header {
    background: #354796;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.content {
    padding: 2rem 1.5rem;
}

.canvas-container {
    position: relative;
}

canvas {
    position: relative;
    top: 0;
    right: 0;
    background: #fff;
    border: solid 1px #888;
}

